@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  padding-top: 120px;
  padding-bottom: 46px;
}

/*------------ BENEFITS ------------*/
.footer__benefits-bg {
  position: relative;
  overflow: hidden;
  z-index: 0;

  background-color: $clr-text-secondary;
  padding: 37px 0 40px;
  margin-bottom: 120px;
}

.footer__benefits-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.2;

  background-image: url("/assets/decor/footer-wave.svg");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100% 30px;
}

.footer__benefits-bg > * {
  position: relative;
  z-index: 1;
}

.footer__benefits-title {
  font-size: 19px;
  font-weight: $font-weight-bold;
  color: $clr-white;
  padding-left: 5px;
  margin-bottom: 32px;
}

.footer__benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.footer__benefits-item {
  display: flex;
  gap: 20px;
  align-items: center;

  flex: 1 1 275px;
  max-width: 280px;

  font-size: 15px;
  font-weight: 500;
  color: $clr-white;
}

/*------------ FOOTER-INFO ------------*/
.footer__info {
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  column-gap: 120px;

  margin-bottom: 110px;
}

/*------------ LEFT: NAVIGATION BLOCK ------------*/
.footer-nav__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 20px;
}

.footer-nav__wide {
  grid-column: 1 / -1;
}

.footer-nav__col-title,
.footer-contacts__info-title {
  font-weight: $font-weight-bold;
  font-size: 15px;
  margin-bottom: 24px;

  a {
    color: inherit;

    &:hover {
      color: $clr-primary;
    }
  }
}

.footer-nav__col-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav__col-item a,
.footer-nav__wide-text,
.footer-contacts__info-text {
  font-size: 15px;
}

.footer-nav__col-item a:hover {
  color: $clr-primary;
}

/*------------ RIGHT: CONTACTS BLOCK ------------*/
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.footer-contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 32px;
  column-gap: 18px;
}

.footer-contacts__item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.footer-contacts__item:hover a {
  color: $clr-primary;
}

.footer-contacts__item a {
  font-size: 15px;
}

.footer-contacts__hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-contacts__hours span {
  font-size: 15px;
}

/*------------ BOTTOM ------------*/
.footer__copy {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  text-align: center;
}

/*------------ Adaptivity ------------*/
@include respond(tablet) {
  .footer {
    margin-top: 80px;
  }

  .footer__benefits-bg {
    margin-bottom: 80px;
  }

  .footer__benefits-list {
    justify-content: center;
  }

  .footer__info {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 40px;
  }

  .footer-contacts {
    gap: 40px;
  }

  .footer-contacts__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@include respond(mobile) {
  .footer {
    margin-top: 60px;
  }

  .footer__benefits-bg {
    margin-bottom: 60px;
  }

  .footer__info {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-nav__grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }
}
