@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*------------ Cart Hero ------------*/
.cart-hero {
  position: relative;
  min-height: 229px;
  color: $clr-white;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
        url("/assets/images/cart/cart-hero.webp") 1x,
        url("/assets/images/cart/cart-hero@2x.webp") 2x
      )
      center / cover no-repeat;
}

.cart-hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 229px;
}

.cart-hero__title {
  font-weight: $font-weight-bold;
  font-size: clamp(40px, 5vw, 50px);
  color: $clr-white;
  text-align: center;
}
